    
<footer>
    <p><a href="mailto: asu@arsenal.co.uk">asu@arsenal.co.uk</a></p>
    <div>
        <p>Arsenal Supporters Union</p>
        <p>Hornsey Rd, London N7 7AJ, United Kingdom</p>
    </div>
    <p><a href="tel: 00442012345678">+44 (0)20 123 456 78</a></p>
</footer>

</body>
</html>