
<%- include('header') %>

<div class="home-bg">
    <div class="overlay"></div>
</div>

<div class="container">
    <h1>Arsenal Supporters Union</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum asperiores voluptatibus vitae totam. Natus aspernatur necessitatibus esse ipsam facere, nisi error, deserunt provident architecto suscipit eaque repellendus iure sunt quaerat vero maxime voluptates adipisci perferendis, ex delectus dolorum quam minima. Quia libero nam beatae nobis, ullam odio architecto sequi.</p>
    <div class="buttons">
        <a href="/members"><button class="members-btn">See members</button></a>
        <a href="/register"><button class="register-btn">Add new member</button></a>
    </div>
</div>

<%- include('footer') %>